*{
    background-color: lightblue;
}
section h2{
    background-color: dimgrey;
    width: max-content;
}

p{
    font-size: large;
}

ol, ul, li{
    background-color: lightgrey;
}
ol, ul{ border: solid 1px;
    width: max-content
}

img{
    width: 50%;
    margin: 20px;
    border: ridge black thick;
}